
<h2>@ViewBag.Title.</h2>

<h2 style="font-family:Elephant;color:#808080">About Our Website: </h2>

<p style="color:darkcyan;font-size:40px;text-align:center;font-family:JasmineUPC">Signup for Free and search for Laptops and IPads , 
     Easy Online shopping search.  
    Create a Free Profile. Search for Laptops. 
    </p>
<br />
<a href="~/Account/Login" class="btn btn-success">Shop Now</a>
